* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
    text-align:center;
}
.minha-div {
    background-color:blue;
    height:300px;
    width:300px;
    margin-left:385px;
}
@media (max-width:600px){
    div { 
        background:red;
    }
}


